@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FingerPaint';
  src: url('./assets/fonts/FingerPaint-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'FingerPaint';
  list-style: none;
}